---
import { getCollection } from "astro:content";
import Layout from "~/layouts/Layout.astro";

export async function getStaticPaths() {
  const policies = await getCollection("policies");

  return policies.map((policy) => ({
    params: { slug: policy.slug },
    props: { policy },
  }));
}

const { policy } = Astro.props;
const { title, updatedDate, description } = policy.data;
const { Content } = await policy.render();
---

<Layout title={title} description={description}>
  <section class="w-full mx-auto max-w-4xl pb-40 pt-20">
    <h1 class="text-4xl text-center font-semibold">{title}</h1>
    <p class="text-center text-sm text-gray-600">
      Last updated on {
        updatedDate.toLocaleDateString("en-US", { dateStyle: "long" })
      }
    </p>
    <article class="pt-10 prose max-w-[100ch]">
      <Content />
    </article>
  </section>
</Layout>
