---
type WorkItems = {
  title: string;
  description: string;
};

const items: WorkItems[] = [
  {
    title: "Agile Methodologies",
    description: `Our small, diverse team of highly skilled engineers works
							    collaboratively and adapts quickly to your needs. We employ Agile
							    methodologies to deliver fast, flexible, and efficient solutions.`,
  },
  {
    title: "CI/CD and Automation",
    description: `Embracing the power of automation, we streamline processes and
							    accelerate innovation. With CI/CD, we maintain high-quality
							    solutions that are consistently up-to-date and secure`,
  },
  {
    title: "End-to-End Solutions",
    description: `From ideation to execution, we handle every aspect of your project.
							We build comprehensive solutions tailored to your business needs,
							including services, databases, and cloud infrastructure.`,
  },
  {
    title: "Turning Problems into Solutions",
    description: `Embrace your challenges as opportunities and bring them to us. We
							will collaborate with you to identify tailored strategies for your
							unique situation. Together, we'll transform problems into innovative
							solutions that propel your business forward.`,
  },
  {
    title: "DevOps",
    description: `We follow true DevOps practices, covering everything from
							infrastructure and testing to production deployments and operations.`,
  },
  {
    title: "Security",
    description: `We integrate security best practices from the start, and we ensure
							that your data remains protected.`,
  },
  {
    title: "Resilience and Chaos Testing",
    description: `Our team builds highly resilient systems and verifies their
							reliability by conducting chaos testing in production environments.
							This proactive approach guarantees robust and dependable solutions.`,
  },
  {
    title: "Passion for Innovation",
    description: `We love what we do, and it shows in our work. Our team thrives on
							solving complex problems and delivering innovative solutions that
							drive your business forward.`,
  },
];
---

<section>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-4xl lg:text-center">
        <p
          class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          How We Work: Agile, Efficient, and Reliable
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Our approach to solving your business problems is both efficient and
          reliable. We prioritize the following principles to ensure your
          success:
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
        >
          {
            items.map((item) => (
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  {item.title}
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">{item.description}</p>
                </dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
