---
const items = [
  {
    title: "Data Strategy Consulting",
    description: `Align your business objectives with a custom data roadmap. (#DataReimagined is your guide to strategic data transformation.)`,
    href: "/services/data-strategy-consulting",
  },
  {
    title: "Data Engineering",
    description: `Build efficient pipelines and infrastructure.`,
    href: "/services/data-engineering",
  },
  {
    title: "Advanced Analytics & AI",
    description: `Unlock insights with machine learning and AI.`,
    href: "/services/advanced-analytics-ai",
  },
  {
    title: "Data Governance",
    description: `TODO:`,
    href: "/services/data-governance",
  },
  {
    title: "Data Quality",
    description: `TODO:`,
    href: "/services/data-quality",
  },
  {
    title: "Data Modeling",
    description: `TODO:`,
    href: "/services/data-modeling",
  },
  {
    title: "Cloud Solutions",
    description: `Seamlessly scale your operations in the cloud.`,
    href: "/services/cloud-solutions",
  },
  {
    title: "Fullstack & Bespoke Development",
    description: `Build seamless, end-to-end applications that integrate front-end interfaces with powerful back-end systems.`,
    href: "/services/fullstack-development",
  },
  {
    title: "Snowflake Expertise",
    description: `As a Snowflake partner, we're ready to take your cloud data warehousing to the next level.`,
    href: "/services/snowflake-expertise",
  },
];
---

<section>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-4xl lg:text-center">
        <p
          class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
        >
          Our Services
        </p>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Whether you need data strategy consulting, cloud solutions, or
          cutting-edge AI, our <strong>#DataReimagined</strong> approach ensures
          we deliver innovative, scalable, and customized solutions
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
        <dl
          class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3"
        >
          {
            items.map((item) => (
              <a href={item.href} class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  {item.title}
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">{item.description}</p>
                </dd>
              </a>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
